<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hospitals</title>
    <link rel="stylesheet" href="style.css">
    <style>
        table {
  /* border-collapse: collapse; */
  width: 100%;
}
        img{
        width: 200px;
        height: auto;
        border-radius: 5px;
        order: 1; 
        /* padding: 20px; */
        }
    td {
     padding: 2px;
     text-align: left;
    border-bottom: 1px solid #DDD;
}
th {
     padding: 2px;
     text-align: center;
    border-bottom: 1px solid #DDD;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: larger;
}

    </style>
</head>
<body>
    <header>
        <h1>H O S P I T A L S</h1>
    </header>
    <main>
        <table border="0px" align="center">
            <tr>
                <!-- <th colspan="2"><h2>Cancer Speciality Hospitals</h2></th> -->
            </tr>
            <tr>
                <td><img src="../static/styles/asset/apolo.jpeg" alt="Hospital Name 1"></td>
                <td><h3>Apollo Proton Cancer Centre, Chennai</h3>
                    <p><strong>Address:</strong>Chennai</p>
                    <p><strong>Oncology</strong></p>
                    <p><strong>Beds:</strong>150</p>
                    <p><strong>Website:</strong> <a href="https://www.apollohospitals.com/proton-therapy/">click here</a></p>
                <p>
                    The Apollo Proton Cancer Centre (APCC) is South Asia's and the Middle East's first and only proton therapy centre, as well 
                    as India's first JCI-accredited cancer hospital. The APCC includes a completely integrated 
                    treatment suite that provides the most advanced surgical, radiation,
                     and medical procedures available. The Centre brings together a remarkable
                      team of clinicians renowned globally in cancer care, in keeping with the
                       Apollo Pillars of Expertise and Excellence.
                </p></td>

            </tr>
            <!-- <tr>
                <th colspan="2">Cancer Speciality Hospitals</th>
            </tr> -->
            <tr>
                <td><img src="../static/styles/asset/hcg.jpeg" alt="Hospital Name 1"></td>
                <td><h3>HCG Cancer Hospital, Mumbai</h3>
                    <p><strong>Address:</strong>Mumbai</p>
                    <p><strong>Oncology</strong></p>
                    <p><strong>Beds:</strong>207</p>
                    <p><strong>Website:</strong> <a href="https://www.hcgoncology.com/cancer-centers/hcg-cancer-centre-borivali/">click here</a></p>
                <p>HCG Cancer Centre is the first dedicated cancer hospital in Mumbai giving a top-quality treatment by using worldwide advancements. In the state of Maharashtra, it is the first centre to launch the Elekta Versa HD Radiation Machine. This machine has agility, which allows
                     for a high-speed, high-precision beam to precisely target the tumor. 
                     The hospital is NABH accredited.</p></td>

            </tr>

        </table>
        <br><br><br>
        <table border="0px" align="center">
            <tr>
                <!-- <th colspan="2"><h2>Heart Problem Speciality Hospitals</h2></th> -->
            </tr>
            <tr>
                <td><img src="../static/styles/asset/fortis.jpeg" alt="Hospital Name 1"></td>
                <td><h3>Fortis Escorts Heart Institute, Delhi</h3>
                    <p><strong>Address:</strong>New Delhi</p>
                    <p><strong>Multi-Superspeciality</strong></p>
                    <p><strong>Beds:</strong>285</p>
                    <p><strong>Website:</strong> <a href="https://www.fortishealthcare.com/location/fortis-escorts-heart-institute-new-delhi">click here</a></p>
                <p>
                    Fortis Escorts Heart Institute, located in New Delhi, India, is one of the 
                    most renowned and well-established cardiac care centres in the country. This best heart hospital has
                     received numerous awards and accolades and recognition for its high-quality services.
                </p></td>

            </tr>
            <!-- <tr>
                <th colspan="2">Cancer Speciality Hospitals</th>
            </tr> -->
            <tr>
                <td><img src="../static/styles/asset/indra.jpeg" alt="Hospital Name 1"></td>
                <td><h3>Indraprastha Apollo Hospital</h3>
                    <p><strong>Address:</strong>New Delhi</p>
                    <p><strong>Multi-Superspeciality</strong></p>
                    <p><strong>Beds:</strong>100</p>
                    <p><strong>Website:</strong> <a href="https://www.apollohospitals.com/delhi/indraprastha-apollo-hospitals/">click here</a></p>
                <p>Indraprastha Apollo, New Delhi is a multi-specialty tertiary-care facility and is one of 
                    the most sought-after healthcare destinations in Asia. Indraprastha Apollo was the first 
                    hospital in India to be accredited by JCI. Spread over 15 acres, Apollo Delhi is one of the
                     most modern and state-of-the-art facilities situated in the posh South Delhi.</p></td>

            </tr>

        </table>
    </main>