<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Assessment</title>
    <link rel="stylesheet" href="../static/styles/diabetes.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <img src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            </div>
            <div class="mainContent">

                <form method="post" action="/predict">
                    <div class="para1 parameter">
                        <div class="gender">
                            <h3>Gender</h3>
                            <input type="radio" name="Gender" id="male" onclick="hidePreg()"><label for="male">male</label>
                            <input type="radio" name="Gender" id="female"  onclick="showPreg()"><label for="female">female</label>
                        </div>
                        <div class="pregnant">
                            <h3>
                                Pregnancies
                            </h3>
                            <input type="number" name="pregnant" id="pregnant" value="0">
                            
                        </div>
                        <!-- <div class="pregnant">
                            <h3>Glucose</h3>    
                            <input type="number" name="pregnant" id="pregnant">
                        </div> -->
                    </div>
                    <div class="para2 parameter">
                        <div class="gluco">
                            <h3>Glucose</h3>    
                            <input type="number" name="glucose" id="glucose">
                        </div>
                        <div class="bp">
                            <h3>Blood Pressure</h3>
                            <input type="number" name="bp" id="bp">
                        </div>
                    </div>
                    <div class="para3 parameter">
                        <div class="skT">
                            <h3>Skin Thickness</h3>
                            <input type="number" name="skt" id="skt">
                        </div>
                        <div class="ins">
                            <h3>Insulin</h3>
                            <input type="number" name="ins" id="ins">
                        </div>
                    </div>
                    <div class="para4 parameter">
                        <div class="bmi">
                            <h3>BMI</h3>
                            <input type="number" name="bmi" id="bmi" min="0" 
                            max="100000" step="0.01">
                        </div>
                        <div class="dpv">
                            <h3>Diabetes Pedigree Value</h3>
                            <input type="number" name="dvp" id="dvp" min="0" 
                            max="100000" step="0.001">
                        </div>
                    </div>
                    <div class="para5 parameter">
                        <h3>Age</h3>
                        <input type="number" name="Age" id="Age">
                    </div>
                    <div class="buttonDiv">
                         <input class="button" type="submit" value="Predict">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
   
    <script  src="../static/script/diabetes.js"></script>

</body>
</html