<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diagnosis </title>
    <link rel="stylesheet" href="../static/styles/diagnosis.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> <!-- Recommended -->
</head>

<body>
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "2ee25678-dc03-4833-a682-7328f18437af", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "b5533620-62ea-4284-9ed3-ed35b722a283", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
    <div class="main">
        <div class="container">
            <div class="header">
                <img class="webLogo" src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            </div>
            <div class="mainContent">
                <div class="card card1">
                    <span id="text">Diabetes</span>
                    <a href="diabetes.html">
                        <div class="diabetes">
                            <div class="effect">
                                <img src="../static/styles/asset/diabete.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="card">
                    <span>Cancer</span>
                    <a href="cancer.html">
                        <div class="cancer">
                            <div class="effect">
                                <img src="../static/styles/asset/cancer.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div> -->
                <div class="card card2">
                    <span>Heart Disease</span>
                    <a href="heart.html">
                        <div class="heartDis">
                            <div class="effect">
                                <img src="../static/styles/asset/heart.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/script/diagnosis.js"></script>
</body>

</html>
