<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diagnosis </title>
    <link rel="stylesheet" href="../static/styles/diagnosis.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> <!-- Recommended -->
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <img class="webLogo" src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            </div>
            <div class="mainContent">
                <div class="card card1">
                    <span id="text">Diabetes</span>
                    <a href="diabetes.html">
                        <div class="diabetes">
                            <div class="effect">
                                <img src="../static/styles/asset/diabete.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="card">
                    <span>Cancer</span>
                    <a href="cancer.html">
                        <div class="cancer">
                            <div class="effect">
                                <img src="../static/styles/asset/cancer.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div> -->
                <div class="card card2">
                    <span>Heart Disease</span>
                    <a href="heart.html">
                        <div class="heartDis">
                            <div class="effect">
                                <img src="../static/styles/asset/heart.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/script/diagnosis.js"></script>
</body>

</html>