<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Care</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
<div class="main">
    <div class="background">
        <div class="cir"></div>
    </div>
    <div class="container">
        <div class="header">
            <img id="logo" src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            <h1 id="name">Soul Care</h1>
        </div>

        <div class="mainContent">
        <div class="leftContent">
            <div class="slogan">
                <div class="back">
                </div>
                <div class="texts">
                    <h2>We care for </h2>
                    <h2>Your loved ones</h2>
                </div>
            </div>
            <div class="buttonDiv">
                <a href="diagnosis.html">
                    <div  class="button">
                        Diagnosis
                    </div>
                </a>
            </div>
        </div>
        <div class="rightContent">
            <img id="doc" src="../static/styles/asset/doctor.svg" alt="svg">
        </div>
        </div>
    </div>
</div>
        
    
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/script/index.js"></script>
</body>
</html>