<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Care</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "2ee25678-dc03-4833-a682-7328f18437af", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "b5533620-62ea-4284-9ed3-ed35b722a283", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
<div class="main">
    <div class="background">
        <div class="cir"></div>
    </div>
    <div class="container">
        <div class="header">
            <img id="logo" src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            <h1 id="name">Soul Care</h1>
        </div>

        <div class="mainContent">
        <div class="leftContent">
            <div class="slogan">
                <div class="back">
                </div>
                <div class="texts">
                    <h2>We care for </h2>
                    <h2>Your loved ones</h2>
                </div>
            </div>
            <div class="buttonDiv">
                <a href="diagnosis.html">
                    <div  class="button">
                        Diagnosis
                    </div>
                </a>
            </div>
        </div>
        <div class="rightContent">
            <img id="doc" src="../static/styles/asset/doctor.svg" alt="svg">
        </div>
        </div>
    </div>
</div>
        
    
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/script/index.js"></script>
</body>
</html>
