<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
    <link rel="stylesheet" href="../static/styles/res.css">
</head>
<body>
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "2ee25678-dc03-4833-a682-7328f18437af", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "b5533620-62ea-4284-9ed3-ed35b722a283", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
    <div class="main">
        <div class="container">
            <div class="header">
                <img src="../static/styles/asset/logoHospital-svg.svg" alt="logo">
            </div>
            <div class="mainContent">
                <div class="res">
                    <h4>
                        {% if prediction[0]=='1' %}
                        <h3>Prediction Result:</h3>
                        <pre>You have high chance of having Heart Problem</pre>
                        <pre>{{percent}}% chance of having Heart Problem</pre>
                        

                        {% elif prediction[0]=='0' %}
                            <h3>Prediction Result:</h3>
                            <pre>You have low chance of having Heart Problem</pre>
                            <pre>{{percent}}% chance of having Heart Problem</pre>
                        

                        {%else%}
                            <h2>Failed to predict</h2>
                        {% endif %}
                    </h4><br>
                    <button><a href="consultheart.html">consult</a></button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="../static/script/resultheart.js"></script> -->
</body>
</html>
